@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  font-size: 14px;
  background: url(./assets/background.jpg) ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap-cards{  
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  gap: 14px;
  margin: auto;
} 
.card{
  width: 200px;
  height: 180px;
  border-radius: 5px;
  padding: 14px;
  background: #EFFCF1;
  transition: .3s;
}
.card:hover{
  background: rgba(255, 255, 255, 1);
}

.wrap-img{
  padding: 7px;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  background: #D0f4DA;
  margin: 0 14px 0px 0;
}
.coin-image{
  width: 50px;
  display: block;
}

.col-data{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.row-1{
  display: flex;
}

.text-success{
  color: green;
}
.text-danger{
  color: crimson;
}
.price{
  font-size: 28px;
  font-weight: 700;
  margin: 14px 0;
}
.name{
  font-weight: 700;
  display: block;
  font-size: 20px;
}

.search-input{
  width: 90%;
  height: 50px;
  margin: 21px auto;
  display: block;
}
